<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEW CAR</title>
</head>
    <body>
        <form th:method="POST" th:action="@{/cars}" th:object="${user}">
            <label  for="model">enter model: </label>
            <input type="text" th:field="*{model}" id="model">
            <div style="color:red" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Model err</div>
            <br/>
            <label  for="color">enter color: </label>
            <input type="text" th:field="*{color}" id="color">
            <div style="color:red" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">color err</div>
            <br/>
            <label  for="year">enter year: </label>
            <input type="number" th:field="*{year}" id="year">
            <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year err</div>
            <br/>
            <input type="submit" value="create!"/>
        </form>
    </body>
</html>